

<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>Licsense_Plates</title> 
</head> 
<body> 
    <h1>PROJECT Licsense_Plates </h1>
    <form method = "post" enctype="multipart/form-data" action="" > 
        {% csrf_token %} 
        {{ form.as_p }} 
        <button type="submit">Upload</button> 
    </form> 
    <img src="{{src_image}}" >

    <form method = "post" enctype="multipart/form-data" action = "check_lp/{{img}}"> 
        {% csrf_token %} 
        <button type="submit">Check_Licsense</button> 
    </form> 
    <br>
    <h2>LICSENSE PRIDICT : </h2>
    <p>{{rs}}</p>
</body> 
</html> 